@charset "UTF-8";
/*
Theme Name: Twenty Twenty-One Childish
Theme URI: https://wordpress.org/themes/twentytwentyone/
Author: Todd Wilson
Author URI: https://icreativepro.com
Description: Just playing around as a child theme, being completely childish. It's fine.
Requires at least: 5.3
Tested up to: 5.5
Requires PHP: 5.6
Version: 1.0.0
Template: twentytwentyone
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: twentytwentyone-child
Tags: one-column, accessibility-ready, custom-colors, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, block-patterns, rtl-language-support, sticky-post, threaded-comments, translation-ready

Twenty Twenty-One WordPress Theme, (C) 2020 WordPress.org
Twenty Twenty-One is distributed under the terms of the GNU GPL.
*/
/**
 * SETTINGS
 * File-header..........The file header for the themes style.css file.
 * Fonts................Any font files, if the project needs specific fonts.
 * Global...............Project-specific, globally available variables.
 *
 * TOOLS
 * Extends..............Global extends.
 * Functions............Global functions.
 * Mixins...............Global mixins.
 *
 * GENERIC
 * Normalize.css........Normalise browser defaults.
 * Breakpoints..........Mixins and variables for responsive styles
 * Vertical-margins.....Vertical spacing for the main components.
 * Reset................Reset specific elements to make them easier to style in other contexts.
 * Clearings............Clearnings for the main components.
 *
 * ELEMENTS
 * Blockquote...........Default blockquote.
 * Forms................Element-level form styling.
 * Headings.............H1–H6
 * Links................Default links.
 * Lists................Default lists.
 * Media................Images, Figure, Figcaption, Embed, iFrame, Objects, Video.
 *
 * BLOCKS
 * Audio................Specific styles for the audio block.
 * Button...............Specific styles for the button block.
 * Code.................Specific styles for the code block.
 * Collumns.............Specific styles for the collumns block.
 * Cover................Specific styles for the cover block.
 * File.................Specific styles for the file block.
 * Gallery..............Specific styles for the gallery block.
 * Group................Specific styles for the group block.
 * Heading..............Specific styles for the heading block.
 * Image................Specific styles for the image block.
 * Latest comments......Specific styles for the latest comments block.
 * Latest posts.........Specific styles for the latest posts block.
 * Legacy...............Specific styles for the legacy gallery.
 * List.................Specific styles for the list block.
 * Meda text............Specific styles for the media and text block.
 * Navigation...........Specific styles for the navigation block.
 * Paragraph............Specific styles for the paragraph block.
 * Pullquote............Specific styles for the pullquote block.
 * Quote................Specific styles for the quote block.
 * Search...............Specific styles for the search block.
 * Separator............Specific styles for the separator block.
 * Spacer...............Specific styles for the spacer block.
 * Table................Specific styles for the table block.
 * Verse................Specific styles for the verse block.
 * Video................Specific styles for the video block.
 * Utilities............Block alignments.
 *
 * COMPONENTS
 * Header...............Header styles.
 * Footer...............Footer styles.
 * Comments.............Comment styles.
 * Archives.............Archive styles.
 * 404..................404 styles.
 * Search...............Search styles.
 * Navigation...........Navigation styles.
 * Footer Navigation....Footer Navigation styles.
 * Pagination...........Pagination styles.
 * Single...............Single page and post styles.
 * Posts and pages......Misc, sticky post styles.
 * Entry................Entry, author biography.
 * Widget...............Widget styles.
 * Editor...............Editor styles.
 *
 * UTILITIES
 * A11y.................Screen reader text, prefers reduced motion etc.
 * Color Palette........Classes for the color palette colors.
 * Editor Font Sizes....Editor Font Sizes.
 * Measure..............The width of a line of text, in characters.
 */
/* Categories 01 to 03 are the basics. */
/* Variables */
:root {
	/* Font Family */
	--global--font-primary: var(--font-headings, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif);
	--global--font-secondary: var(--font-base, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif);
	--global--font-code: monospace;
	--global--font-ui: var(--font-base, var(--global--font-secondary));
	/* Font Size */
	--global--font-size-base: 1.25rem;
	--global--font-size-xs: 1rem;
	--global--font-size-sm: 1.125rem;
	--global--font-size-md: 1.25rem;
	--global--font-size-lg: 1.5rem;
	--global--font-size-xl: 2.25rem;
	--global--font-size-xxl: 4rem;
	--global--font-size-xxxl: 5rem;
	--global--font-size-page-title: var(--global--font-size-xxl);
	--global--letter-spacing: normal;
	/* Line Height */
	--global--line-height-base: 1;
	--global--line-height-body: 1.7;
	--global--line-height-heading: 1.3;
	--global--line-height-page-title: 1.1;
	/* Headings */
	--heading--font-family: var(--global--font-primary);
	--heading--line-height: var(--global--line-height-heading);
	--heading--font-size-h6: var(--global--font-size-xs);
	--heading--font-size-h5: var(--global--font-size-sm);
	--heading--font-size-h4: var(--global--font-size-lg);
	--heading--font-size-h3: 1.875rem;
	--heading--font-size-h2: 2.25rem;
	--heading--font-size-h1: var(--global--font-size-page-title);
	--heading--letter-spacing-h6: 0.05em;
	--heading--letter-spacing-h5: 0.05em;
	--heading--letter-spacing-h4: var(--global--letter-spacing);
	--heading--letter-spacing-h3: var(--global--letter-spacing);
	--heading--letter-spacing-h2: var(--global--letter-spacing);
	--heading--letter-spacing-h1: var(--global--letter-spacing);
	--heading--line-height-h6: var(--global--line-height-heading);
	--heading--line-height-h5: var(--global--line-height-heading);
	--heading--line-height-h4: var(--global--line-height-heading);
	--heading--line-height-h3: var(--heading--line-height);
	--heading--line-height-h2: var(--heading--line-height);
	--heading--line-height-h1: var(--global--line-height-page-title);
	--heading--font-weight: normal;
	--heading--font-weight-page-title: 300;
	--heading--font-weight-strong: 600;
	/* Block: Latest posts */
	--latest-posts--title-font-family: var(--heading--font-family);
	--latest-posts--title-font-size: var(--heading--font-size-h3);
	--latest-posts--description-font-family: var(--global--font-secondary);
	--latest-posts--description-font-size: var(--global--font-size-sm);
	--list--font-family: var(--global--font-secondary);
	--definition-term--font-family: var(--global--font-primary);
	/* Colors */
	--global--color-black: #000;
	--global--color-dark-gray: #28303d;
	--global--color-gray: #39414d;
	--global--color-light-gray: #f0f0f0;
	--global--color-green: #d1e4dd;
	--global--color-blue: #d1dfe4;
	--global--color-purple: #d1d1e4;
	--global--color-red: #e4d1d1;
	--global--color-orange: #e49c86;
	--global--color-yellow: #eeeadd;
	--global--color-white: #fff;
	--global--color-white-50: rgba(255, 255, 255, 0.5);
	/* white 50% opacity used in form fields.*/
	--global--color-primary: var(--global--color-dark-gray);
	/* Body text color, site title, footer text color. */
	--global--color-secondary: var(--global--color-gray);
	/* Headings */
	--global--color-primary-hover: var(--global--color-primary);
	--global--color-secondary-hover: var(--global--color-secondary);
	--global--color-background: var(--global--color-light-gray);
	/* Light gray, default body background */
	--global--color-border: var(--global--color-primary);
	/* Used for borders (separators) */
	/* Spacing */
	--global--spacing-unit: 20px;
	--global--spacing-measure: unset;
	--global--spacing-horizontal: 30px;
	--global--spacing-vertical: 15px;
	/* Elevation */
	--global--elevation: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
	/* Forms */
	--form--font-family: var(--global--font-secondary);
	--form--font-size: var(--global--font-size-sm);
	--form--line-height: var(--global--line-height-body);
	--form--color-text: var(--global--color-dark-gray);
	--form--color-ranged: var(--global--color-secondary);
	--form--label-weight: normal;
	--form--label-weight-strong: 500;
	--form--border-color: var(--global--color-secondary);
	--form--border-width: 3px;
	--form--border-radius: 0;
	--form--spacing-unit: calc(0.5 * var(--global--spacing-unit));
	/* Cover block */
	--cover--height: calc(15 * var(--global--spacing-vertical));
	--cover--color-foreground: var(--global--color-white);
	--cover--color-background: var(--global--color-black);
	/* Buttons */
	--button--color-text: var(--global--color-background);
	--button--color-text-hover: var(--global--color-secondary);
	--button--color-text-active: var(--global--color-secondary);
	--button--color-background: var(--global--color-secondary);
	--button--color-background-hover: var(--global--color-background);
	--button--color-background-active: var(--global--color-background);
	--button--font-family: var(--global--font-primary);
	--button--font-size: var(--global--font-size-base);
	--button--font-weight: 500;
	--button--line-height: 1.5;
	--button--border-width: 3px;
	--button--border-radius: 0;
	--button--padding-vertical: 15px;
	--button--padding-horizontal: calc(2 * var(--button--padding-vertical));
	/* entry */
	--entry-header--color: var(--global--color-primary);
	--entry-header--color-link: currentColor;
	--entry-header--color-hover: var(--global--color-primary-hover);
	--entry-header--color-focus: var(--global--color-secondary);
	--entry-header--font-family: var(--heading--font-family);
	--entry-header--font-size: var(--heading--font-size-h2);
	--entry-content--font-family: var(--global--font-secondary);
	--entry-meta--color: var(--global--color-primary);
	--entry-meta--color-link: currentColor;
	--entry-meta--color-hover: var(--global--color-primary-hover);
	--entry-meta--font-family: var(--global--font-primary);
	--entry-meta--font-size: var(--global--font-size-xs);
	--entry-author-bio--font-family: var(--heading--font-family);
	--entry-author-bio--font-size: var(--heading--font-size-h4);
	/* Header */
	--branding--color-background: var(--global--color-white);
	--branding--color-text: var(--global--color-primary);
	--branding--color-link: var(--global--color-primary);
	--branding--color-link-hover: var(--global--color-primary-hover);
	--branding--title--font-family: var(--global--font-primary);
	--branding--title--font-size: var(--global--font-size-lg);
	--branding--title--font-size-mobile: var(--heading--font-size-h4);
	--branding--title--font-weight: normal;
	--branding--title--text-transform: uppercase;
	--branding--description--font-family: var(--global--font-secondary);
	--branding--description--font-size: var(--global--font-size-sm);
	--branding--description--font-family: var(--global--font-secondary);
	--branding--logo--max-width: 200px;
	--branding--logo--max-height: 100px;
	--branding--logo--max-width-mobile: 150px;
	--branding--logo--max-height-mobile: 96px;
	/* Main navigation */
	--primary-nav--font-family: var(--global--font-secondary);
	--primary-nav--font-family-mobile: var(--global--font-primary);
	--primary-nav--font-size: var(--global--font-size-sm);
	--primary-nav--font-size-sub-menu: var(--global--font-size-xs);
	--primary-nav--font-size-mobile: var(--global--font-size-md);
	--primary-nav--font-size-sub-menu-mobile: var(--global--font-size-sm);
	--primary-nav--font-size-button: var(--global--font-size-xs);
	--primary-nav--font-style: normal;
	--primary-nav--font-style-sub-menu-mobile: normal;
	--primary-nav--font-weight: normal;
	--primary-nav--font-weight-button: 500;
	--primary-nav--line-height: var(--global--line-height-body);
	--primary-nav--color-link: var(--global--color-primary);
	--primary-nav--color-link-hover: var(--global--color-primary-hover);
	--primary-nav--color-link-border: var(--global--color-primary);
	--primary-nav--color-text: var(--global--color-primary);
	--primary-nav--padding: calc(0.66 * var(--global--spacing-unit));
	--primary-nav--justify-content: right;
	/* Pagination */
	--pagination--color-text: var(--global--color-primary);
	--pagination--color-link: var(--global--color-primary);
	--pagination--color-link-hover: var(--global--color-primary-hover);
	--pagination--font-family: var(--global--font-secondary);
	--pagination--font-size: var(--global--font-size-lg);
	--pagination--font-weight: normal;
	--pagination--font-weight-strong: 600;
	/* Comments */
	--comments--border-color: var(--global--color-border);
	/* Sticky Posts */
	--sticky-posts--color-background: #F9F9F9;
	--sticky-posts--entry-title-font-size: 24px;
	--sticky-posts--entry-content-font-size: 20px;
	/* Header */
	/* Footer */
	--footer--color-text: var(--global--color-primary);
	--footer--color-link: var(--global--color-primary);
	--footer--color-link-hover: var(--global--color-primary-hover);
	--footer--font-family: var(--global--font-primary);
	--footer--font-size: var(--global--font-size-xs);
	/* Block: Pull quote */
	--pullquote--font-family: var(--global--font-primary);
	--pullquote--font-size: var(--heading--font-size-h3);
	--pullquote--font-style: normal;
	--pullquote--letter-spacing: var(--heading--letter-spacing-h4);
	--pullquote--line-height: var(--global--line-height-heading);
	--pullquote--border-width: 3px;
	--pullquote--border-color: var(--global--color-primary);
	--pullquote--color-foreground: var(--global--color-primary);
	--pullquote--color-background: var(--global--color-background);
	--quote--border-color: var(--global--color-secondary);
	--quote--border-width: 1px;
	--quote--font-family: var(--global--font-secondary);
	--quote--font-size: var(--global--font-size-md);
	--quote--font-size-large: var(--global--font-size-lg);
	--quote--font-style: normal;
	--quote--font-style-large: normal;
	--quote--line-height: var(--global--line-height-body);
	--quote--line-height-large: 1.5;
	--separator--border-color: var(--global--color-border);
	--separator--height: 1px;
	/* Block: Table */
	--table--stripes-border-color: var(--global--color-light-gray);
	--table--stripes-background-color: var(--global--color-light-gray);
	--table--has-background-border-color: var(--global--color-dark-gray);
	--table--has-background-text-color: var(--global--color-dark-gray);
	/* Widgets */
	--widget--line-height-list: 1.9;
	--widget--line-height-title: 1.4;
	--widget--font-weight-title: 700;
	--widget--spacing-menu: calc(0.66 * var(--global--spacing-unit));
}

@media only screen and (min-width: 652px) {
	:root {
		--global--font-size-xl: 2.5rem;
		--global--font-size-xxl: 6rem;
		--global--font-size-xxxl: 9rem;
		--heading--font-size-h3: 2rem;
		--heading--font-size-h2: 3rem;
	}
}

/* Button extends */
/**
 * Repsonsive Styles
 */
/**
 * Required Variables
 */
/**
 * Root Media Query Variables
 */
:root {
	--responsive--spacing-horizontal: calc(2 * var(--global--spacing-horizontal) * 0.6);
	--responsive--aligndefault-width: calc(100vw - var(--responsive--spacing-horizontal));
	--responsive--alignwide-width: calc(100vw - var(--responsive--spacing-horizontal));
	--responsive--alignfull-width: 100%;
	--responsive--alignright-margin: var(--global--spacing-horizontal);
	--responsive--alignleft-margin: var(--global--spacing-horizontal);
}

@media only screen and (min-width: 482px) {
	:root {
		--responsive--aligndefault-width: min(calc(100vw - 4 * var(--global--spacing-horizontal)), 750px);
		--responsive--alignwide-width: calc(100vw - 4 * var(--global--spacing-horizontal));
		--responsive--alignright-margin: calc(0.5 * (100vw - var(--responsive--aligndefault-width)));
		--responsive--alignleft-margin: calc(0.5 * (100vw - var(--responsive--aligndefault-width)));
	}
}

@media only screen and (min-width: 822px) {
	:root {
		--responsive--aligndefault-width: min(calc(100vw - 8 * var(--global--spacing-horizontal)), 750px);
		--responsive--alignwide-width: min(calc(100vw - 8 * var(--global--spacing-horizontal)), 1240px);
	}
}

/**
 * Extends
 */
.default-max-width {
	max-width: var(--responsive--aligndefault-width);
	margin-left: auto;
	margin-right: auto;
}

.wide-max-width {
	max-width: var(--responsive--alignwide-width);
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 482px) {
	.full-max-width {
		max-width: var(--responsive--alignfull-width);
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
}

/**
 * Site Structure
 *
 * - Set vertical margins and responsive widths on
 *   top-level wrappers and content wrappers
 * - `--global--width-content` is a responsive veriable
 * - See: globals/_global-width-responsive.scss
 */
/**
 * Top Level Wrappers (header, main, footer)
 * - Set vertical padding and horizontal margins
 */
.site-main {
	padding-top: inherit;
}

/* Category 04 can contain any default HTML element. Do not add classes here, just give the elements some basic styles.
@import "04-elements/blockquote";
@import "04-elements/forms";
@import "04-elements/media";
@import "04-elements/misc";
@import "04-elements/links"; */
/* Category 05 is all about adjusting the default block styles to the given layout. I only added three blocks as examples.
@import "05-blocks/blocks"; */
/* Category 06 contains all "bigger" components which contain elements of the previous two categories like header, footer, page template, single template, comments section, archives, ... */
.site-header {
	position: sticky;
	top: 0;
	z-index: 1000;
	width: 100%;
	max-width: inherit;
	background-color: transparent;
	padding-left: var(--global--spacing-horizontal);
	padding-right: var(--global--spacing-horizontal);
	transition: all linear .25s;
}

.site-header.sticky {
	background-color: var(--branding--color-background);
	padding-top: calc(var(--global--spacing-vertical) / 0.8);
	padding-bottom: calc(var(--global--spacing-vertical) / 0.8);
	box-shadow: 0px 5px 5px 0 rgba(48, 68, 78, 0.1);
}

.site-header.sticky .site-branding .site-description {
	display: none;
}

.site-branding {
	margin-top: 10px;
}

@media only screen and (min-width: 822px) {
	.site-branding {
		margin-top: inherit;
	}
}

.site-logo {
	min-width: var(--branding--logo--max-width);
}

@media only screen and (max-width: 481px) {
	.site-header.has-logo:not(.has-title-and-tagline).has-menu .site-logo {
		top: 6px;
	}
	.site-header.has-logo:not(.has-title-and-tagline).has-menu .site-logo > a, .site-header.has-logo:not(.has-title-and-tagline).has-menu .site-logo svg {
		max-width: var(--branding--logo--max-width-mobile);
	}
}

.sticky-post {
	color: var(--global--color-background);
	background-color: var(--global--color-secondary);
	font-family: var(--global--font-secondary);
	font-size: var(--global--font-size-xs);
	line-height: 1;
	padding: calc(0.25 * var(--global--spacing-unit)) calc(0.33 * var(--global--spacing-unit));
}

.has-sticky-post .site-main {
	background: var(--sticky-posts--alt-color-background);
}

.has-sticky-post .site-main > *:first-child {
	margin-top: calc( 0px - var(--global--spacing-vertical));
	padding-top: var(--global--spacing-vertical);
}

.post.sticky {
	background: var(--sticky-posts--color-background);
	padding-bottom: calc(2 * var(--global--spacing-vertical));
}

.post.sticky .entry-title {
	font-size: var(--sticky-posts--entry-title-font-size);
}

.post.sticky .entry-content {
	font-size: var(--sticky-posts--entry-content-font-size);
}

.updated:not(.published) {
	display: none;
}

.no-results.not-found > *:first-child {
	margin-bottom: calc(3 * var(--global--spacing-vertical));
}

.post .post-standard__banner {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 30.75em;
	margin-bottom: 3.75em;
}

@media only screen and (max-width: 768px) {
	.post .post-standard__banner {
		height: 30em;
	}
}

.post .post-standard__banner__image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	overflow: hidden;
}

.post .post-standard__banner__image:before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
}

.post .post-standard__banner__image img {
	height: 100% !important;
	width: 100% !important;
	max-width: inherit !important;
	object-fit: cover;
	transition: 3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.post-card.-center .card__content {
	text-align: center;
}

.post-card .card__content-category {
	color: #111;
	font-size: 0.75em;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	z-index: 1;
	margin-bottom: 1.25em;
	padding: 0 0.3125em;
}

.post-card .card__content-category:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8px;
	background-color: #f1cdc2;
	z-index: -1;
	transform: translateY(40%);
}

.post-card .card__content-title {
	display: block;
	margin-bottom: 0.625em;
	font-size: 1.375em;
	font-weight: 700;
	line-height: 1.375em;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	text-transform: capitalize;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.post-card.-center .card__content-info {
	justify-content: center;
}

.post-card .card__content-info {
	display: flex;
	align-items: center;
	line-height: 1;
}

.post-card .card__content-info i, .post-card .card__content-info p {
	display: inline-block;
	color: #888;
	font-size: 0.8125em;
	font-weight: 400;
	line-height: 1;
}

.post-card .card__content-info .info__time svg, .post-card .card__content-info .info__comment svg {
	color: var(--global--color-orange);
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

.post-card .card__content-info .info__time, .post-card .card__content-info .info__comment {
	display: flex;
	align-content: space-between;
}

.post-card .card__content-info .info__time {
	margin-right: 0.9375em;
}

.post .post-standard.-full .post-standard__banner__content .post-card .card__content {
	max-width: 600px;
}

.post .post-standard__banner__content {
	background-color: #fff;
	padding: 2.5em;
	margin: 0 1.875em;
}

.post-card {
	font-size: 16px;
}

@media only screen and (max-width: 576px) {
	.post-card {
		font-size: 14px;
	}
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 100%;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 100%;
	}
}

@media (min-width: 1170px) {
	.container {
		max-width: 1170px;
	}
}

.blog-imageless {
	margin-bottom: 1.875rem;
}

@media only screen and (max-width: 992px) {
	.post-card .post-card {
		font-size: 15px;
	}
}

@media only screen and (max-width: 576px) {
	.post-card .post-card {
		font-size: 14px;
	}
}

@media only screen and (max-width: 768px) {
	.post-card .post-card.-full {
		font-size: 14px;
	}
}

.post-card.-inner-text .card__content-category,
.post-card.-inner-text.-banner .card__content-title,
.post-card.-inner-text .card__content-info > div p {
	color: #fff;
}

@media only screen and (max-width: 576px) {
	.post-card.-inner-text .card__content-category,
	.post-card.-inner-text.-banner .card__content-title,
	.post-card.-inner-text .card__content-info > div p {
		color: #111;
	}
}

.post-card .card__content-info .info__time {
	margin-right: 0.9375em;
}

.post-card.-inner-text {
	position: relative;
	border-radius: 0.3125em;
	overflow: hidden;
}

.post-card.-inner-text.-banner {
	margin-bottom: 3.125em;
	position: relative;
}

.post-card .card__cover {
	display: flex;
	margin-bottom: 1.25em;
	border-radius: 0.3125em;
	overflow: hidden;
}

.post-card:hover .card__cover > img {
	transform: scale(1.1);
}

.post-card .card__cover img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.post-card.-inner-text .card__content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 65%;
	margin: 0 auto;
	z-index: 3;
	padding-bottom: 1.875em;
}

@media only screen and (max-width: 576px) {
	.post-card.-inner-text .card__content {
		position: unset;
		max-width: 100%;
	}
}

.post-card.-inner-text .card__cover {
	margin-bottom: 0;
}

@media only screen and (min-width: 576px) {
	.post-card.-inner-text::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
		z-index: 2;
	}
}

/* Category 07 is for any utility classes that are not assigned to a specific component.
@import "07-utilities/a11y";
@import "07-utilities/color-palette";
@import "07-utilities/measure";*/

/*# sourceMappingURL=style.css.map */